.postContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  width: 600px;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.commentContainer {
  display: flex;
  align-items: center;
  width: 550px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-left: 50px;
  padding: 10px;
}

.addCommentContainer {
  display: flex;
  width: 600px;
  box-sizing: border-box;
  justify-content: flex-end;
  margin-top: 10px;
}

.total {
  margin-right: 20px;
}
main {
  margin: 0 auto;
  width: 700px;
}
